<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=tempdb;User Id=Tester;Password=mypass1wd;"/>
    <add key="ExecuteDbString" value="exec sp_help 'sys.views'"/>
    <add key="LogOutput" value="true"/>
    <add key="LogFilePath" value=".\suptass_{DATE}.log"/>
  </appSettings>
</configuration>
